# Archivos y carpetas generados por Maven (Backend)
**/target/
**/.mvn/wrapper/
**/src/test/

# Archivos y carpetas generados por Node.js (Frontend)
**/node_modules/
**/dist/
**/build/

# Entornos de desarrollo
.env
.DS_Store

# Archivos específicos de Docker
Dockerfile* # Ignore all Dockerfiles, not just the one in the root
docker-compose.yml    
.dockerignore         

# Git
.git
.gitignore

# Editores y IDEs
.vscode/
.idea/
*.log