footer{
    width: 100%;
    background-color: #000739;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10dvh;
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 14px;
    grid-template-rows: auto 1fr auto;
}

.contact-us {
    margin-left: 10px;
}


.contact-us a{
    text-decoration: none;
    color: #FFFFFF;
    text-underline-offset: inherit;
}

.follow-us{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.follow-us h3{
    margin-bottom: 15px;
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-us img{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.legal{
    margin-right: 6%;
}

.legal h3 {
    margin-bottom: 15px;
}

.legal a{
    text-decoration: none;
    color: #FFFFFF;
}