.loading-spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 90px;
    background-color: #D6D8E8;
    border-radius: 10px;
}

.loading-modal {
    position: fixed; /* Esto es CRÍTICO para que el modal flote sobre todo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    display: flex; /* Para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    z-index: 9999; /* Asegura que esté por encima de todo */
    border: none; /* Elimina borde predeterminado del dialog */
    padding: 0;
    margin: 0;
}