nav{
    background-color: #000739;
    position: fixed;
    width: 100%;
    padding: 0px 10px;
    min-height: 13dvh;
    top: 0;
    left: 0;
    font-family: 'Jua';
    display: flex;
    align-items: center;
    z-index: 1000;
}

nav a img{
    margin-left: 50px;
    padding: 0;
    width: 100px;
    height: auto;
    display: block;
}

ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1000;
}

.nav-bar li a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 45px;
    display: block;
    font-size: 21px;
    white-space: nowrap;
}

.nav-bar li a:hover {
    background-color: #495083;
}

.nav-bar > li {
    position: relative;
}

.nav-bar li ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000739;
    min-width: 195px;
    z-index: 1001;
}

.nav-bar li a:hover {
    background-color: #495083;
}

.nav-bar li ul li a { /* Estilos específicos para los enlaces dentro del submenú */
    padding: 12px 15px; /* Padding ajustado */
    font-size: 17px; /* Fuente ligeramente más pequeña */
}

.nav-bar li ul li ul {
    display: none; /* Initially hide the sub-submenu */
    position: absolute; /* Position it relative to the parent li */
    top: 50%;           /* Align to the top of the parent li */
    left: 100%;       /* Position it to the right of the parent li */
    background-color: #000739;
    min-width: 260px; 
    z-index: 1002;
}


.nav-bar li ul li ul li a {
    padding: 12px 15px;
    font-size: 17px;
    white-space: nowrap; /* Prevents text from wrapping */
}

.nav-bar li ul li a:hover {
    background-color: #495083;
}

.nav-bar li:hover > ul {
    display: block;
}


/*Ícono del perfil*/

.profile-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 5px 20px;
    padding-right: 80px; /* Espacio para el icono */
}

.profile-icon img {
    width: 60px;
    height: 50%;
    display: block;
}

/*Menú bar para el tamaño movil, en tamaño tablet y computador se dejará invisible este menú y el checkbox*/

.menu-options {
    display: none;
    position: absolute;
    top: 100%;
    left: calc(100% - 190px); /* Ajuste para que el menú se alinee a la derecha */
    z-index: 1000;
    background-color: #000739;
}

.menu-option {
    display: block;
    padding: 12px 15px; /* Padding ajustado */
    text-decoration: none;
    color: #FFFFFF;
    font-size: 17px;
}

.menu-option:hover {
    background-color:#495083;
}

.profile-icon:hover .menu-options {
    display: block;
}