.update-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #D6D8E8;
}


.update-password-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: #000000 0px 0px 10px;
}

.update-password-container form h2 {
    margin: 0;
    padding: 30px;
    color: #000739;
    font-size: 35px;
    font-family: 'Jua', sans-serif;
    margin-bottom: 30px;
}